// Colors

$green: #45c14e;
$lightgreen: #dff8eb;
$darkblue1: #00324b;
$darkblue2: #0b415e;
$brightblue: #4de8e3;
$grey: #99adb7;

/* ********************************************************/
/* RESET */
/* ********************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gt-america-regular", "Arial";
  text-decoration: none;
}

/* ********************************************************/
/* FONTS */
/* ********************************************************/

@font-face {
  font-family: "gt-america-regular";
  src: url(http://localhost:4008/fonts/gt-america-font/gt-america-regular.otf);
}

@font-face {
  font-family: "gt-america-bold";
  src: url(http://localhost:4008/fonts/gt-america-font/gt-america-bold.otf);
}

/* ********************************************************/
/* REUSABLE */
/* ********************************************************/

// containers

.container {
  width: 1266px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: calc((100% - 1266px) / 2);
}

// display and position

.d-flex {
  display: flex;
}

.relative {
  position: relative;
}

// btns

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.btn-green {
  display: inline-block;
  padding: 18px 46px;
  font-size: 18px;
  line-height: 1;
  background-color: $green;
  color: #fff;
  border-radius: 30px;
}

// text

.main-title,
.section-title,
.plain-text {
  color: $darkblue2;
}

.main-title {
  font-size: 36px;
  line-height: 1.3;
}

.section-title {
  font-size: 36px;
}

.plain-text {
  font-size: 22px;
}

/* ********************************************************/
/* TOP BAR */
/* ********************************************************/

.top-bar {
  height: 40px;
  line-height: 20px;
  font-size: 13px;
  background-color: $green;
  color: #fff;
  padding: 10px 20px 10px 20px;
  margin-bottom: 38px;
}

/* ********************************************************/
/* HEADER */
/* ********************************************************/

.header {
  padding-left: 40px;
  padding-right: 40px;
}

.header-box {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.header-box a {
  color: $grey;
  font-weight: 600;
}

.main-menu {
  align-items: center;
  gap: 44px;
}

.menu-link:hover,
.menu-link-sign-in:hover {
  text-decoration: underline 2px #99adb7;
}

.menu-link-sign-in {
  margin-right: 20px;
}

/* ********************************************************/
/* HERO SECTION */
/* ********************************************************/

.hero-container {
  background-image: url(http://localhost:4008/img/hero__background-hills.svg);
  background-repeat: no-repeat;
  background-position-y: 230px;
  background-size: contain;
  min-height: 800px;
}

.hero-text-content {
  max-width: 46ch;
  margin-left: calc((100% - 1150px) / 2);
}

.hero-text-content .main-title {
  margin-bottom: 29px;
}

.hero-description {
  margin-bottom: 31px;
}

.hero-visual-content {
  overflow: hidden;
}

.hero-img-layer {
  position: absolute;
}

.hero-img-layer.grasshopper {
  right: 20px;
}

.hero-img-layer.smartphone {
  right: 240px;
  top: -142px;
  z-index: 2;
}

.hero-img-layer.laptop {
  right: 495px;
  top: 40px;
  z-index: 2;
}

.hero-img-layer.tree {
  left: 0;
  top: 40px;
  z-index: 2;
}

.hero-img-layer.leaf {
  left: 0;
  top: 40px;
  z-index: 2;
}

/* ********************************************************/
/* PROS */
/* ********************************************************/

.pros {
  background-color: $lightgreen;
  height: 800px;
}

/* ********************************************************/
/* FOOTER */
/* ********************************************************/
// 16 18 22 24 36
