:root {
  --accent-color: #45c14e;
  --text-color: #002c43;
  --bg-canvas: #fcfcfc;
  --bg-light: #dff8eb;
  --bg-dark: #00324b;
  --white: #fff;
}

body,
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: top;
  line-height: 1.1;
}

body {
  background-color: var(--bg-canvas);
  font-family: Poppins, sans-serif;
  color: var(--text-color);
}

.accent-bg {
  background-color: var(--accent-color);
}

.display-none {
  display: none;
}
