.container {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.row-fluid,
.row-xl,
.row-lg,
.row-md,
.row-sm {
  margin: 0 auto;
}

.row-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.row-xl {
  max-width: 1360px;
}

.row-lg {
  max-width: 1200px;
}

.row-md {
  max-width: 920px;
}

.row-sm {
  max-width: 720px;
}

/* MEDIA QUERIES */
