.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mobile-logo {
  display: none;
}

.header,
.main-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-menu {
  width: 100%;
}

.main-menu > a:last-child {
  margin-left: auto;
  margin-right: 20px;
}

.main-menu > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #99adb7;
}

.main-menu > a:hover {
  color: #000;
}

/* MEDIA QUERIES */

@media (max-width: 960px) {
  .main-menu {
    display: none;
  }
}

@media (max-width: 720px) {
  .main-logo {
    display: none;
  }

  .mobile-logo {
    display: inline-block;
  }
}
