/* HERO SECTION */

.hero.container {
  padding: 0;
}

.hero .row-lg {
  padding: 0 20px;
}

.hero .main-title {
  font-size: 34px;
  width: 46%;
  padding-top: 75px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.hero-text-box {
  font-size: 18px;
  margin-bottom: 25px;
}

.hills-bg {
  background: url(../../img/hills-bg.svg) no-repeat;
  background-size: cover;
}

.hero-images {
  position: relative;
  aspect-ratio: 17 / 8;
}

.hero-image {
  position: absolute;
}

.hero-tree {
  left: -1%;
  top: 15%;
  width: calc(100vw * 0.2);
  z-index: 1;
}

.hero-leaf {
  left: 15%;
  top: 15%;
  width: calc(100vw * 0.12);
  z-index: 2;
}

.hero-smartphone {
  right: 22%;
  top: -21%;
  width: calc(100vw * 0.2);
  z-index: 3;
}

.hero-loptop {
  right: 36%;
  top: 12%;
  width: calc(100vw * 0.32);
  z-index: 2;
}

.hero-grasshopper {
  right: 3%;
  top: 0;
  width: calc(100vw * 0.42);
  z-index: 1;
}

.hero-cloud-back {
  right: 34%;
  top: 49%;
  width: calc(100vw * 0.27);
  z-index: 2;
}

.hero-cloud-front {
  right: 37%;
  top: 61%;
  width: calc(100vw * 0.2);
  z-index: 4;
}

.hero-text-box {
  display: flex;
  gap: 7px;
}

.dynamic-text {
  display: flex;
  flex-direction: column;
}

.dynamic-text > .dynamic-text-item:nth-child(2),
.dynamic-text > .dynamic-text-item:nth-child(3),
.dynamic-text > .dynamic-text-item:nth-child(4),
.dynamic-text > .dynamic-text-item:nth-child(5) {
  display: none;
}

/* ADVANTAGES */

.advantages {
  background-color: var(--bg-light);
}

/* MEDIA QUERIES */

@media (min-width: 1360px) {
  /* hero */

  .hero-tree,
  .hero-cloud-front,
  .hero-smartphone {
    width: calc((100vw - (100vw - 1360px)) * 0.2);
  }

  .hero-leaf {
    width: calc((100vw - (100vw - 1360px)) * 0.12);
  }

  .hero-loptop {
    width: calc((100vw - (100vw - 1360px)) * 0.34);
  }

  .hero-grasshopper {
    width: calc((100vw - (100vw - 1360px)) * 0.42);
  }

  .hero-cloud-back {
    width: calc((100vw - (100vw - 1360px)) * 0.27);
  }
}

@media (max-width: 1100px) {
  /* hero */

  .hero {
    text-align: center;
  }

  .hero .main-title {
    width: 70%;
    margin-inline: auto;
    padding-top: 40px;
    font-size: 34px;
  }

  .hero .row-lg {
    padding-bottom: 160px;
  }

  .hero-text-box {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  /* hero */

  .hero .main-title {
    width: 90%;
    font-weight: 500;
  }

  .hero-text-box {
    flex-direction: column;
    gap: 8px;
  }

  .hero-images {
    aspect-ratio: unset;
    min-height: 520px;
  }

  .hero-tree,
  .hero-leaf,
  .hero-loptop,
  .hero-grasshopper {
    display: none;
  }

  .hero-smartphone {
    top: unset;
    bottom: 13%;
    right: 50%;
    transform: translateX(50%);
    width: calc(100vw * 0.5);
    max-width: 270px;
    min-width: 209px;
  }

  .hero-cloud-back,
  .hero-cloud-front {
    width: 208px;
  }

  .hero-cloud-back {
    top: 65%;
    right: -10%;
  }

  .hero-cloud-front {
    top: 75%;
    left: 0%;
    transform: translateX(-27%);
  }
}

@media (max-width: 450px) {
  .hero .row-lg {
    padding-bottom: 50px;
  }
}
